{% extends 'base.html.twig' %}

{% block title %}New Canal{% endblock %}

{% block body %}
    <h1>Create new Canal</h1>

    {{ include('canal/_form.html.twig') }}

    <a href="{{ path('app_canal_index') }}">back to list</a>
{% endblock %}
