{% extends 'base.html.twig' %}
{% block title %}Accueil · {{ parent() }}{% endblock %}
{% block body %}
  <div class="container-xxl py-10">
    <h1 class="fs-2hx fw-bold mb-8">Page Twig</h1>
    <p class="fs-5 text-gray-700">Contenu d'exemple. Remplace ce bloc par tes vues Symfony.</p>
  </div>
{% endblock %}
