<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}GDH Console{% endblock %}</title>
  {% include 'partials/_head_assets.html.twig' %}
  {% block stylesheets %}{% endblock %}
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
  {% include 'partials/_header.html.twig' %}
  <main id="main">
    {% block body %}{% endblock %}
  </main>
  {% include 'partials/_footer.html.twig' %}
  {% include 'partials/_scripts_assets.html.twig' %}
  {% block javascripts %}{% endblock %}
</body>
</html>
